@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #0d1b21;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  color: #faf3e0;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 0 0 50px #03a062;
}

main {
  margin: auto;
  width: 900px;
  max-width: 100%;
}

.adding-todo {
  background-color: transparent;
  margin: auto 10px;
}

.adding-todo form {
  display: flex;
  justify-content: center;
}

.adding-todo form #todo-form-text {
  font-size: 28px;
  margin: 10px 5px;
  padding: 5px 10px;
  width: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
  font-weight: 400;
  border-bottom: 2px solid #03a062;
  color: #faf3e0;
}

::placeholder {
  color: #faf3e0;
  opacity: 0.7;
}

.adding-todo form #todo-form-add {
  cursor: pointer;
  font-size: 28px;
  margin: 10px 5px;
  padding: 3px 20px;
  background-color: transparent;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #03a062;
  color: #faf3e0;
}

.adding-todo form #todo-form-add:hover {
  opacity: 0.8;
}

.todo-lists {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.todo-lists h2 {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 30px;
  color: #faf3e0;
  font-weight: 400;
  font-size: xx-large;
  border-bottom: 2px solid #03a062;
}

.todo-lists .things-todo {
  width: 450px;
  margin: 30px 10px 10px 10px;
  height: auto;
  border-radius: 20px;
}

.todo-lists .things-done {
  width: 450px;
  margin: 30px 10px 10px 10px;
  height: auto;
  border-radius: 20px;
}

.todos .content {
  display: flex;
  justify-content: center;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #03a062;
}

.todos .todo .content i {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.todos .todo .content .check {
  margin: 0px 3px 0px 6px;
  color: #faf3e0;
}

.todos .todo .content .check:hover {
  color: #3ec70b;
}

.todos .todo .content .pencil {
  margin: 0px 6px 0px 6px;
  color: #faf3e0;
}

.todos .todo .content .pencil:hover {
  color: #4d77ff;
}

.todos .todo .content .disk {
  margin: 0px 6px 0px 6px;
  color: #faf3e0;
}

.todos .todo .content .disk:hover {
  color: #4d77ff;
}

.todos .todo .content .trash {
  margin: 0px 10px 0px 3px;
  color: #faf3e0;
}

.todos .todo .content .trash:hover {
  color: red;
}

.todos .todo .content .reply {
  margin: 0px 3px 0px 6px;
  color: #faf3e0;
}

.todos .todo .content .reply:hover {
  color: #a149fa;
}

.todos .todo .content .todo-text {
  font-size: 25px;
  margin: 5px 5px;
  padding: 3px;
  width: 98%;
  background-color: transparent;
  border-style: none;
  border-style: none;
  outline: none;
  font-weight: 400;
  color: #faf3e0;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #faf3e0;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

footer a {
  color: #03a062;
}
